@model BitcoinClub.ViewModels.LandingPageViewModel

@{
    ViewData["Title"] = Model.ClubName;
}

@section Styles {
    <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#home">@Model.ClubName</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href="#home">@Model.HomeLabel</a></li>
                <li class="nav-item"><a class="nav-link" href="#calendar">@Model.EventsLabel</a></li>
                <li class="nav-item"><a class="nav-link" href="#info">@Model.InfoLabel</a></li>
                <li class="nav-item"><a class="nav-link" href="#links">@Model.UsefulLinksLabel</a></li>
            </ul>

            <div class="d-flex align-items-center">
                <a class="btn btn-sm bc-lang-button" href="@Url.Action("Index", "Home", new { lang = Model.ChangeLanguageButtonText })">@Model.ChangeLanguageButtonText</a>
            </div>

            <div class="d-flex align-items-center ms-2">
                <partial name="_LoginPartial" />
            </div>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row" id="home">
        <div class="col-12 col-md-5">
            <img src="@Model.HeroImageRelativePath" class="img-fluid" alt="Bitcoin Club" />
        </div>
        <div class="col-12 col-md-7">
            <div class="card bg-dark text-light border-0">
                <div class="card-body">
                    <h4 class="card-title">@Model.MissionTitle</h4>
                    <h5 class="card-title">@Model.GoalsTitle:</h5>
                    <p class="card-text">
                        @foreach (var goal in Model.Goals)
                        {
                            @goal
                            <br />
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 48px;">
        <div class="card bg-dark text-light">
            <div class="card-body">
                <h5 class="card-title">@Model.MeansTitle</h5>
                <p class="card-text">
                    @foreach (var means in Model.Means)
                    {
                        @means
                        <br />
                    }
                </p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 48px;" id="calendar">
        <h4>@Model.CalendarTitle</h4>
        <div class="ratio ratio-16x9">
            <iframe
                src="@Model.CalendarEmbedUrl"
                style="border: 0;"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <div class="row" style="margin-top: 48px;">
        <h4 id="info">@Model.InfoLabel</h4>

        <h5>@Model.AssociationTitle</h5>
        <p>1. ЕИК/ПИК: @Model.AssociationEik</p>
        <p>
            2. Седалище и адрес на управление: @Model.AssociationAddressLine -
            <a href="@Model.AssociationLocationUrl" target="_blank" rel="noopener noreferrer">@Model.AssociationLocationLabel</a>
        </p>

        <h5>@Model.OfficialWebsiteLabel</h5>
        <p>
            <a href="@Model.OfficialWebsiteUrl" target="_blank" rel="noopener noreferrer">@Model.OfficialWebsiteUrl</a>
        </p>

        <h5>@Model.SocialMediaTitle</h5>
        <ul>
            @foreach (var link in Model.SocialLinks)
            {
                <li>
                    @link.Name: <a href="@link.Url" target="_blank" rel="noopener noreferrer">@link.Url</a>
                </li>
            }
        </ul>

        <h5>@Model.MembershipAndSupportLabel</h5>
        <p>@Model.MembershipDetails</p>
        <p>@Model.SupportDetails</p>

        <h5>@Model.ContactsTitle</h5>
        <p>
            @Model.ContactEmail
        </p>
        <p>Телефон: @Model.ContactPhone</p>
    </div>

    <div class="row" style="margin-top: 24px;">
        <h4 id="links">@Model.UsefulLinksTitle</h4>
        <ul>
            @foreach (var link in Model.UsefulLinks)
            {
                <li>
                    @link.Label: <a href="@link.Url" target="_blank" rel="noopener noreferrer">@link.Url</a>
                </li>
            }
        </ul>
    </div>
</div>
